header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}


.input_post {
    display: flex;
    flex-direction: column;    
}


.position__top--left {
    display: grid;
    flex-direction: row;
    justify-content: left;
}


.suggest__users--section1 {
    display: flex;    
}


.card__container--section2 {
    display: flex;
     
}